body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 4px;
  border: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  font-size: 16px;

}

.content {
  background: #e3f4ff;
  margin-top: 16;
  margin-bottom: 16;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
}
 

.button-container {
  background: #e3f4ff;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
 
}

* {box-sizing: border-box;}